$font_family: "Noto Sans TC', sans-serif";
$font-size:16px;
$color:#3b465d;
$placeholder_color:#534741;
$letter-spacing:0.05em;

.right_content {
    background-color: unset;
    font-family: $font_family;
    font-size: $font-size;
    // background-color: rgb(209, 202, 202);
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;

    @media all and (max-width: 1024px) {
        background-image: unset !important;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &::after {
            content: "";
            background-image: url(./img/contact_img/Contact2.jpg);
            top: 0;
            left: 0px;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            display: block;
            position: absolute;
            z-index: -1;
            opacity: 0.6;
        }

    }

    @media all and (max-width: 768px) {
        background-image: unset !important;
        background-color: #f7b9a4;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .container-fluid {
        width: 100%;

        // height: 100vh;  
        .row {
            @media all and (max-width: 414px) {
                margin-top: 30px;

            }

            @media all and (max-width: 320px) {

                margin-top: 50px;

            }
        }

    }

    .display {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            // height: 100%;
        }
    }

    .contact_box_out {

        display: flex;
        justify-content: center;
        align-items: center;
       margin-top: 100px;

        @media all and (min-width: 1024px) {
          margin-right: 100px;
            width: 100%;
        }

        @media all and (max-width: 414px) {
           margin-top: 30px;
            // height: 100%;
        }

        @media all and (max-width: 320px) {
            margin-top: 40px;

        }

        .contact_size {
            font-family: $font_family;
            color: $color;
            font-size: 120px;
            text-shadow: 7px -6px 10px #686868;
            letter-spacing: $letter-spacing;

            //平板
            @media all and (min-width: 760px) and (max-width: 959px) {
                font-size: 80px;
            }

            //小平板
            @media all and (min-width: 480px) and (max-width: 759px) {
                font-size: 60px;
            }

            //手機
            @media all and (max-width: 480px) {
                font-size: 40px;
                text-shadow: 2px -4px 3px #999999;
            }
        }

        .mar_top {
            margin-top: 50px;

            @media all and (max-width: 414px) {
                margin-top: 20px;
            }

            @media all and (max-width: 360px) {
                margin-top: 0;
            }

            .form-group {
                @media all and (max-width: 320px) {
                    margin-bottom: 0;
                }

            }

            .form-control {
                border: none;
                border-bottom: 2px solid $color;
                padding: 20px 0;
                background-color: unset;
                border-radius: unset;
                

                @media all and (max-width: 375px) {
                    padding: 0;
                }
            }

            ::placeholder {
                color: $placeholder_color;
                opacity: 0.7;
                font-family: $font_family;
                padding-left: 20px;
            }

            .textarea_border {
                border: 2px solid $color;
                // padding-left: 20px;
            }
        }
    }

    .btn_box {
        margin-top: 40PX;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;

        @media all and (max-width: 375px) {           
            margin-top: 20px;
            margin-bottom: 20px;
        }
        @media all and (max-width: 320px) {
            display: flex;
            justify-content: center;
            margin-top: 5px;
        }

        .btn-outline-secondary {
            font-family: $font_family;
            letter-spacing: $letter-spacing;
            color: #eee;
            border-color: #000;
            background-color: $color;


            &:hover {
                background-color: #FFFF17;
                border-color: #FEFEFD;
                color: #005CA1;
            }

            &:active {
                background-color: #EA83B2 !important;
                border-color: #E84E96 !important;
                color: #FFEE00 !important;
            }
        }
    }
}