.right_content {
    // background-color: rgb(209, 202, 202);
    background-position: center;
    background-size: cover;
    height: 100vh;



    .contact_box_out {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0 0 0;
        @media all and (max-width: 375px) {
            padding: 20px 0;
        }


        .contact_size {
            font-size: 120px;
            text-shadow: 4px 4px 3px #333333;
            letter-spacing: 0.05em;

          

            //平板
            @media all and (min-width: 760px) and (max-width: 959px) {
                font-size: 80px;
            }

            //小平板
            @media all and (min-width: 480px) and (max-width: 759px) {
                font-size: 60px;
            }

            //手機
            @media all and (max-width: 480px) {
                font-size: 40px;
            }
        }

        .mar_top {
            margin-top: 50px;
            @media all and (max-width: 375px) {
                margin-top: 20px;
            }

            .form-control {
                border: none;
                border-bottom: 2px solid rgb(0, 0, 0);
                padding: 20px 0;
                background-color: unset;
                border-radius: unset;

                @media all and (max-width: 375px) {
                    padding: 0;
                }
            }

            .textarea_border {
                border: 2px solid rgb(56, 56, 56);
            }
        }
    }

    .btn_box {
        display: flex;
        justify-content: flex-end;

        .btn-primary {
            background-color: white;
            border: 1px solid black;
            color: black;
        }
    }
}