.right_content {
  font-family: "Noto Sans TC";
  font-size: 16px;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media all and (max-width: 768px) {
  .right_content {
    background-image: unset !important;
    background-color: #f7b9a4;
  }
}

@media all and (max-width: 768px) {
  .right_content .left {
    display: none;
  }
}

.right_content .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .right_content .display {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
  }
}

.right_content .contact_box_out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

@media all and (min-width: 1024px) {
  .right_content .contact_box_out {
    padding: 120px 60px 0 0;
    width: 100%;
  }
}

@media all and (max-width: 414px) {
  .right_content .contact_box_out {
    padding-top: 30px;
    height: 100%;
  }
}

@media all and (max-width: 320px) {
  .right_content .contact_box_out {
    padding-top: 10px;
  }
}

.right_content .contact_box_out .contact_size {
  color: #3b465d;
  font-size: 120px;
  text-shadow: 7px -6px 10px #686868;
  letter-spacing: 0.05em;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  .right_content .contact_box_out .contact_size {
    font-size: 80px;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .right_content .contact_box_out .contact_size {
    font-size: 60px;
  }
}

@media all and (max-width: 480px) {
  .right_content .contact_box_out .contact_size {
    font-size: 40px;
  }
}

.right_content .contact_box_out .mar_top {
  margin-top: 50px;
}

@media all and (max-width: 414px) {
  .right_content .contact_box_out .mar_top {
    margin-top: 20px;
  }
}

.right_content .contact_box_out .mar_top .form-control {
  border: none;
  border-bottom: 2px solid #3b465d;
  padding: 20px 0;
  background-color: unset;
  border-radius: unset;
}

@media all and (max-width: 375px) {
  .right_content .contact_box_out .mar_top .form-control {
    padding: 0;
  }
}

.right_content .contact_box_out .mar_top ::-webkit-input-placeholder {
  color: #534741;
  opacity: 0.7;
}

.right_content .contact_box_out .mar_top :-ms-input-placeholder {
  color: #534741;
  opacity: 0.7;
}

.right_content .contact_box_out .mar_top ::-ms-input-placeholder {
  color: #534741;
  opacity: 0.7;
}

.right_content .contact_box_out .mar_top ::placeholder {
  color: #534741;
  opacity: 0.7;
}

.right_content .contact_box_out .mar_top .textarea_border {
  border: 2px solid #3b465d;
}

.right_content .btn_box {
  margin-top: 40PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right_content .btn_box .btn-outline-secondary {
  font-family: "Noto Sans TC";
  letter-spacing: 0.05em;
  color: #eee;
  border-color: #000;
  background-color: #3b465d;
}
/*# sourceMappingURL=contact.css.map */