$font_family: "Noto Sans TC";
$font-size:16px;
$color:#3b465d;
$placeholder_color:#534741;
$letter-spacing:0.05em;

.right_content {
    font-family: $font_family;
    font-size: $font-size;
    // background-color: rgb(209, 202, 202);
    background-position: center;
    background-size: cover;
    height: 100vh;

    @media all and (max-width: 768px) {
        background-image: unset !important;
        background-color: #f7b9a4;
    }

    .left {
        @media all and (max-width: 768px) {
            display: none;
        }
    }

    .display {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            height: 100%;
        }
    }

    .contact_box_out {

        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;

        @media all and (min-width: 1024px) {
            padding: 120px 60px 0 0;
            width: 100%;
        }

        @media all and (max-width: 414px) {
            padding-top: 30px;
            height: 100%;
        }

        @media all and (max-width: 320px) {
            padding-top: 10px;
            
        }

        .contact_size {
            color: $color;
            font-size: 120px;
            text-shadow: 7px -6px 10px #686868;
            letter-spacing: $letter-spacing;

            //平板
            @media all and (min-width: 760px) and (max-width: 959px) {
                font-size: 80px;
            }

            //小平板
            @media all and (min-width: 480px) and (max-width: 759px) {
                font-size: 60px;
            }

            //手機
            @media all and (max-width: 480px) {
                font-size: 40px;
            }
        }

        .mar_top {
            margin-top: 50px;

            @media all and (max-width: 414px) {
                margin-top: 20px;
            }

            .form-control {
                border: none;
                border-bottom: 2px solid $color;
                padding: 20px 0;
                background-color: unset;
                border-radius: unset;

                @media all and (max-width: 375px) {
                    padding: 0;
                }
            }

            ::placeholder {
                color: $placeholder_color;
                opacity: 0.7;
            }

            .textarea_border {
                border: 2px solid $color;
            }
        }
    }

    .btn_box {
        margin-top: 40PX;
        display: flex;
        justify-content: flex-end;

        .btn-outline-secondary {
            font-family: $font_family;
            letter-spacing: $letter-spacing;
            color: #eee;
            border-color: #000;
            background-color: $color;
        }
    }
}