  /* 字體改變 */
  *{
    font-family: "Noto Sans TC";
  }
  /* 自訂樣式 */
  h1{
    text-align: center;
    /* position: relative; */
    /* top: 145px; */
    font-size: 40px;
    padding:110px 0 34.5px 0;
    color: #132951;
    font-family: "Noto Sans TC";
}
.new{
    /* position: relative; */
    width: 500px;
    /* height: 30px; */
    margin: auto;
    /* top: 179px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Serif";
}
.border1{
    width: 150px;
    height: 2px;
    background-color: black;
}
.border2{
    width: 150px;
    height: 2px;
    background-color: black;
}
h5{
    /* text-align: center;   */
    margin: 0;
    font-size: 18px;
    color: #3B465D;
}
.right_content{
    height:calc(100vh - 50px);
    position: relative;
    background-color:#F7B9A4;
}
.swiper-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-48%,-50%);
width: 82%;
padding-top: 126px;
padding-bottom: 50px;
}
.swiper-slide {      
background-position: center;
background-size: cover;
height: 400px;
}
.swiper-pagination{
position: absolute;
bottom: 50px;
left: 50%;
transform: translate(-50%,-50%);
display: flex;
justify-content: space-around;
width: 180px;
}
.swiper-pagination-bullet-active {
background-color: #132951;
}
.swiper-pagination-bullet{
height: 20px;
width: 20px;
}
.swiper-button-next{
color: #3C586E;
position: absolute;
right: 50px;
top: 50% ;
padding-top: 80px;
outline: none;
}
.swiper-button-prev{
 color: #3C586E;
position: absolute;
left: 50px;
top: 50% ;
padding-top: 80px;
outline: none;
}
span:focus {
    outline: none;
}
.img1:hover{
    background-image: url("./img/news/新品上市\(圖\).jpg") !important;
    background-position: center;
    background-size: cover;
}
.img2:hover{
    background-image: url("./img/news/地球日\(圖\).jpg") !important;
    background-position: center;
    background-size: cover;
}
.img3:hover{
    background-image: url("./img/news/疾病退散\(圖\).jpg") !important;
    background-position: initial;
    background-size: cover;
}
.img4:hover{
    background-image: url("./img/news/新品上市\(圖\).jpg") !important;
    background-position: center;
    background-size: cover;
}
.img5:hover{
    background-image: url("./img/news/地球日\(圖\).jpg") !important;
    background-position: center;
    background-size: cover;
}
.img6:hover{
    background-image: url("./img/news/疾病退散\(圖\).jpg") !important;
    background-position: initial;
    background-size: cover;
}
.div_shadow
{
box-shadow: 7px 7px 8px #333333;
-webkit-box-shadow: 7px 7px 8px #333333;
-moz-box-shadow: 7px 7px 8px #333333;
}