$font_size_shopName:26px;
$font_size:20px;

$font_family: "Noto Sans TC";
$font_family_2:"微軟正黑體";
$color:#3b465d;
$background-color:#f7b9a4;
$letter-spacing:1px;

@keyframes slide {
    0% {
        transform: scale(0, 0) translateY(0);
        opacity: 0;
    }   

    70% {
        transform: scale(1, 1) translateY(0);
        opacity: 1;
    }

    90% {
        transform: scale(1, 1) translateY(600%);
    }

    100% {
        transform: scale(1, 1) translateY(600%);
    }
}


.right_content {
    height: 100vh;
    background-color: $background-color;
    font-family: $font_family;
    color: $color;
    letter-spacing: $letter-spacing;


    .store_out {
        height: 100%;

        .container-fluid {
            height: 100%;
        }

        .row {
            height: 100%;

            @media all and (max-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .left_box {
            display: flex;
            justify-content: center;
            align-items: center;

            @media all and (max-width: 768px) {
                display: none;
            }
        }

        .mapBox {

            position: relative;

            .map_border {
                width: 395px;

            }

            .img_top {
                position: absolute;
                width: 220px;
                top: 0px;
                left: 175px;
                opacity: 0;
                transition: 0.6s;
                pointer-events: none;

                &.active {
                    opacity: 1;
                    pointer-events: default;
                }

                &.click_active {
                    opacity: 1;
                    pointer-events: default;
                }
            }

            .img_center {
                position: absolute;
                width: 266px;
                top: 117px;
                left: 20px;
                opacity: 0;
                transition: 0.6s;
                pointer-events: none;

                &.active {
                    opacity: 1;
                    pointer-events: default;
                }

                &.click_active {
                    opacity: 1;
                    pointer-events: default;
                }
            }

            .img_south {
                position: absolute;
                width: 205px;
                top: 368px;
                left: 0px;
                opacity: 0;
                transition: 0.6s;
                pointer-events: none;

                &.active {
                    opacity: 1;
                    pointer-events: default;
                }

                &.click_active {
                    opacity: 1;
                    pointer-events: default;
                }
            }


            .img_east {
                position: absolute;
                width: 204px;
                top: 205px;
                left: 147px;
                opacity: 0;
                transition: 0.6s;
                pointer-events: none;

                &.active {
                    opacity: 1;
                    pointer-events: default;
                }

                &.click_active {
                    opacity: 1;
                    pointer-events: default;
                }
            }

        }

        .right_box {
            padding-top: 12vh;

            @media all and (max-width: 1024px) {
                padding-top: 20vh;

            }

            @media all and (max-width: 768px) {
                padding-top: 2vh;
                padding-right: 15px;

            }
        }

        .shopBox {
            .slide {
                &.active {
                    animation-name: slide;
                    animation-timing-function: ease;
                    animation-duration: 4s;
                    animation-iteration-count: 1;

                }

                &:nth-child(2) {
                    animation-delay: 0.2s;
                }

                &:nth-child(3) {
                    animation-delay: 0.4s;
                }

                &:nth-child(4) {
                    animation-delay: 0.6s;
                }

                &:nth-child(5) {
                    animation-delay: 0.8s;
                }

                &:nth-child(6) {
                    animation-delay: 1s;
                }

                &:nth-child(7) {
                    animation-delay: 1.2s;
                }

                &:nth-child(8) {
                    animation-delay: 1.4s;
                }

                &:nth-child(9) {
                    animation-delay: 1.6s;
                }
            }

            .shop {
                padding: 30px 10px 50px;
                margin-bottom: 30px;
                border-bottom: 2px solid $color;

                @media all and (max-width: 1024px) {
                    padding: 30px 10px 50px;
                    margin-bottom: 30px;
                    border-bottom: 2px solid #3b465d;

                }

                @media all and (max-width: 768px) {
                    padding: 10px 5px 0 5px;
                    margin-bottom: 10px;
                    border-bottom: 2px solid #3b465d;

                }

                h4 {
                    // font-family: $font_family;
                    font-size: $font_size_shopName;
                    margin-bottom: 30px;
                }

                p {
                    font-family: $font_family_2;
                    font-size: $font_size;
                }
            }


            .col-6:nth-last-child(-n+3) {
                .shop {
                    border-bottom: none;
                }
            }
        }
    }
}