

body{
    margin:0;
    /* height:200vh; */
}
.menu_icon{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    opacity: 0.7;
}
.icon_img {
    animation: zoom 2s 1 ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes zoom{
   50%{ transform:scale(1.1,1.1);}
}

@keyframes jump {
    15% {
        transform: translateY(5px) scale(1.1, 0.9);
    }

    25% {
        transform: translateY(-120px) scale(0.9, 1.1);
    }

    28% {
        transform: translateY(-130px) scale(0.9, 1.15);
    }

    30% {
        transform: translateY(-120px) scale(0.9, 1.1);
    }

    40% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-80px) scale(0.9, 1.1);
    }

    60% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(-60px) scale(0.9, 1.1);
    }

    78% {
        transform: translateY(0px);
    }

    86% {
        transform: translateY(-20px);
    }

    91% {
        transform: translateY(0px);
    }

    95% {
        transform: translateY(-5px);
    }
}
.left_navbar{
    width:175px;
    height:100vh;
    background-color: #3B465D;
    position:fixed;
    top:0;
    /* 未展開效果 */
    left:-75px;
    /* 展開效果 */
    /* left:0px;  */
    z-index: 98;
    color:white;
    -webkit-box-shadow: 7px 1px 10px #595858;
    box-shadow: 7px 1px 10px #595858;
    font-family: "Noto Sans TC";
}

/* hover位置 */
.left_navbar .logo{ 
    margin-top: 50px;
    position: relative;
    /* 未展開效果 */
    left:97px;
    /* 展開效果 */
    /* left:59.5px; */
}

.left_navbar img{ 
    width:56px;
}

.left_navbar .navitems{
    /* 未展開效果 */
    opacity: 0;   
    /* 未展開效果 */
    /* opacity: 1;    */

}

.left_navbar .item{
    position: relative;
}

.left_navbar .navitems a:hover {

    text-decoration: none;
}

.left_navbar .navitems .nav_icon.active{
    width:14px;
    height:14px;

    background-image: url("./img/leaves.svg");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 10px;
    left: -20px;   
}

.left_navbar ul{
    list-style:none;
    
    font-size:20px;

    padding: 0;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
}



.left_navbar a{
    color:white;    
}

a{
     text-decoration:none;  
 
}

.left_navbar .navitems img{
    width:100px;
    z-index: 99;
}

.left_navbar li{
    margin-bottom: 50px;

    /* background-color: blue; */
}

.letterSpace{
    letter-spacing: 0.35em;
}

.mobile_navbar{
    display: none!important;
}

.right_content{
    width:calc(100% - 100px);
    /* height:100vh; */
    margin-left:100px;
    background-color: chocolate;
}

footer{

    height:50px;
    background-color: gray;
    text-align: center;
    font-size:16px;
    line-height: 50px;
    margin-left: 50px;
    background-color: #9db6bb;
    color:#3b465d;
    font-family: "微軟正黑體";
}




@media  (max-width:768px) {
    .left_navbar {
        display: none;
    }

    .mobile_navbar{
        display: flex!important;
        justify-content: space-between;
        align-items: center;
        z-index:99;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px 20px;
        background-color: #3B465D;
    }
    .right_content {
        width: 100%;
        margin-left: 0;
    }

    footer {
        margin: 0;
        width: 100%;
    }
}
