*{
    
    font-family: "微軟正黑體";
    font-weight: lighter;
    color: white;
}

.row,
.col {
    padding: 0;
}
body{
    overflow-x: hidden;
}


/* 右邊內容 */
.right_content5 {
    width: calc(100% - 100px);
    margin-left: 100px;
}
.myContainer {
    width: 100%;
}
/* 初始化 */
.right_content5 .myContainer .row {
    margin-right: 0px;
    margin-left: 0px;
}
.row{
   width: 100%;
}
.bg_red{
    height: 100vh;
    background-color: #9DB6BB;
    
}
.bg_red:hover{
    background-color: #3F494B;
}
.bg_red:hover img{
filter: brightness(40%);
transition: 0.5s;
}
.bg_red:hover #text1{
    opacity: 1;
    }

.bg_blue{
    height: 100vh;
    background-color:#3C586E;
    transition: 0.5s;
}
.bg_blue:hover{
    background-color:#1E2C35;
    transition: 0.5s;
}
.bg_blue:hover img{
    filter: brightness(40%);
    transition: 0.5s;
}
.bg_blue:hover #text2{
        opacity: 1;
}
.bg_gray{
    height: 100vh;
    background-color:#9DB6BB;
    transition: 0.5s;
}
.bg_gray:hover{
    background-color: #3F494B;
    transition: 0.5s;
}
.bg_gray:hover img{
    filter: brightness(40%);
    transition: 0.5s;
}
.bg_gray:hover #text3{
        opacity: 1;
}
.bgm1,.bgm2,.bgm3{
    height: 83%;
    width: 100%;
    margin-top: 20%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bgm1{
    background-image: url(img/drinks/阿華田拿鐵.png);
}
.bgm2{
    background-image: url(img/drinks/珍珠奶茶.png);
}
.bgm3{
    background-image: url(img/drinks/紅茶拿鐵.png);
}






/* 圖片內的文字 */
.text {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    position: absolute !important;
    color: white;
    opacity: 0;
    position: relative;
}
.text h1{
    font-size: 40pt;
    font-family: "Noto Sans TC";
    text-align: center;
}

.text p{
    margin: 0 auto;
    font-size: 22px;
    width: 80%;
    margin-top: 45px;
    text-align: left;
    letter-spacing:0.15em;
    word-break: break-all;
}

@media(max-width:768px){
    .left_navbar{
        display: none;
}
.right_content5{
    width: 100%;
    margin-left: 0;
}
footer{
    margin: 0;
    width: 100%;
}
}
